[submodule "everstore-dotnet-adapter"]
	path = everstore-dotnet-adapter
	url = git@github.com:perandersson/everstore-dotnet-adapter.git
[submodule "everstore-scala-adapter"]
	path = everstore-scala-adapter
	url = git@github.com:perandersson/everstore-scala-adapter.git
[submodule "everstore-java-adapter"]
	path = everstore-java-adapter
	url = git@github.com:perandersson/everstore-java-adapter.git
[submodule "everstore-server"]
	path = everstore-server
	url = git@github.com:perandersson/everstore-server.git
